#courses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    width: 83%;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.course-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    width: 300px;
    padding: 10px;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-card img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.cost-low {
    background-color: #ddcf65; /* xanh nhạt */
}

.cost-medium {
    background-color: #f0c044; /* vàng nhạt */
}

.cost-high {
    background-color: #ffa750; /* cam nhạt */
}

.source-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #fff;
}

.source-category{
    font-size: 14px;
    color: #555;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.source-description {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
